@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap'); /*This links to a google font, allowing me to use it on my webpage*/

body {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
  }

header {
  color: #AF601A;
  }
  
/*Below is the CSS created specifically for my navbar and all related classes*/

  .navbar {
    overflow: hidden;
    background-color: #78909C;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #AF601A;
    text-align: center;
    padding: 22px 24px;
    text-decoration: none;
    font-size: 22px;
  }
  
  .navbar a:hover { /*This allows me to have my navigation buttons colors change when hovered over, I gave it a transition to smoothen it out*/
    background-color: white;
    color: black;
    transition: 0.5s
  }
  
  .navbar a.active {
    background-color: white;
    color: black;
  }
  
  .navbar .icon {
    display: none;
  }

  
/*Below is my CSS for displaying the navbar appropriately no matter what size the screen is. I have inserted some javascript I found online to make a phone-like navigation button. Not entirely sure how it works yet, but it definitely works.*/

  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

/*Below is my background information. It has been a struggle to try and get it optimized for all screen sizes, and I've had consistent problems with unwanted empty space. It'll get there though im sure.*/

.background {
  width: 100%;
  height: 100vh;
  min-height: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1553984840-b8cbc34f5215?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: auto;
}

/*Below is my container designed specifically to nest in my flex box background on my homepage, and all of it's children. After realising you can nest flex box and css grid together I thought it would be the better route for the format of my homepage. It's been constantly tweaked but I feel much more comfortable with it now*/

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  justify-items: center;
  align-items: center;
}

.roundhead {
  border-radius: 50%;
  grid-column-start: 1;
  grid-row-start: 2;
  width: 100%;
  height: auto;
  margin-left: 50px;
}

.homelinks {
  font-family: 'IBM Plex Sans', sans-serif;
  list-style-type: none;
  grid-column-start: 2;
  grid-row-start: 2;
  text-align: center;
}

.link {
  text-decoration: none;
  font-size: 50px;
  background-color: #78909C;
  color: #AF601A;
  border-radius: 20%;
}

.link:hover {
background-color: white;
color: black;
transition: 0.5s
}

header {
  font-size: 30px;
}

.projects {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
}

.indexheader {
  display: flex;
  justify-content: center;
  align-item: center;
}

/*Below is my media query designed specifically for my home page's CSS grid container. Also took a lot of tweaking, and was my first real delve into formatting my own media queries. Very proud at it's accuracy to my wireframe.*/

@media screen and (max-width: 800px) {
  .container {
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .roundhead {
    grid-column-start: 2;
    grid-row-start: 1;
    margin-left: 0;
  }
  .link {
    font-size: 50px;
  }
  .homelinks {
    grid-row-start: 2;
    padding-right: 25px;
  }

}

/* Below are my basic containers to format my article styled pages, along with their children */

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 40%;
  height: 100%;
}

.article {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  height: 100%;
}

.flexcolumn {                   /* This is used to change my backgrounds flex direction to column style, specifically for used with my homepage */
  flex-direction: column;
}

.articleitem {
  min-width: 80%;
  margin: 10px;
}

.background h1 {
  font-size: 50px;
  color: #AF601A;
}

@media screen and (max-width: 800px) {
  .article {
    display: none;
  }
}